* {
  box-sizing: border-box;
}

/* ================ TIMER ===================== */

.container-datetime-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.datetime-picker {
  padding: 15px;
  border: 2px solid #3ded97;
  border-radius: 50px;
  transition: 0.5s;
  font-size: 20px;
  text-align: center;
  background-color: #99edc3;
}

.button-start {
  padding: 15px;
  border: 2px solid #3ded97;
  border-radius: 50px;
  transition: 0.5s;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #99edc3;
  font-weight: 600;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.timer .field {
  margin: 0 10px;
}

.timer .value {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.timer .label {
  font-size: 16px;
  color: #666;
}
.date-picker {
  margin: 0 auto;
}
.button-start {
  margin: 0 auto;
}
